In [1]:
%cd "F:\Google Drive\JupyterNotebooks\PMega\Section 11 - Webmaps"
import os
os.listdir()

F:\Google Drive\JupyterNotebooks\PMega\Section 11 - Webmaps

['.~$Volcsmap.html.insyncdl',
 'Aus Volc.txt',
 'Aus Volc.xlsx',
 'aus volcs.xlsx',
 'code.py',
 'debug.txt',
 'debug_pop.txt',
 'desktop.ini',
 'GeoMap Project Polished.ipynb',
 'GeoMap Project.ipynb',
 'GVP_Volcano_List.xls',
 'GVP_Volcano_List.xlsx',
 'MyMap.html',
 'myvolcsmap.html',
 'out.txt',
 'popmap.html',
 'Popmap.ipynb',
 'subVolcs.html',
 'Testvolcsmap.html',
 'Untitled0.ipynb',
 'Volcanoes_USA.csv',
 'Volcanoes_USA.txt',
 'VolcanoMap.html',
 'Volcsmap.html',
 'VolcsTestMap.html',
 'world.json',
 '~$GVP_Volcano_List.xlsx']

In [4]:
import pandas as pd

In [6]:
data = pd.read_excel("aus volcs.xlsx",header=1)

In [7]:
data.head(20)

,,,,Meters,Feet,Coordinates,Longitude,Unnamed: 4,deg Long,deg Lat
1,Atherton Volcano,Queensland,NaN,—,—,17°30′,144°30′﻿,"Less than 100,000 years ago",NaN,NaN
2,Lake Barrine,Queensland,NaN,730,—,17°12′,145°24′﻿,"12,000 years ago",NaN,NaN
3,Bauhinia Volcano,Queensland,NaN,—,—,24°48′,149°30′﻿,23–25 million years ago,NaN,NaN
4,Brisbane Volcano,Queensland,NaN,—,—,27°42′,152°36′﻿,16–62 million years ago,NaN,NaN
5,Buckland,Queensland,NaN,—,—,—,NaN,—,NaN,NaN
6,Bundaberg Volcano,Queensland,NaN,—,—,—,NaN,—,NaN,NaN
7,Cookie Mountains,Queensland,NaN,—,—,50°54′,151°48′﻿,23 million years ago,NaN,NaN
8,Chudleigh Volcano,Queensland,NaN,—,—,10°30′,144°12′﻿,"250,000 years ago",NaN,NaN
9,Lake Eacham,Queensland,NaN,—,—,17°12′,145°36′﻿,"12,000 years ago",NaN,NaN
10,Malanda Volcano,Queensland,NaN,1200,—,17°30′,145°30′﻿,3 million years ago,NaN,NaN
11,Mount Fox,Queensland,NaN,—,—,18°30′,145°28′﻿,—,NaN,NaN
12,Mount Hay,Queensland,NaN,—,—,—,NaN,—,NaN,NaN
13,Hillsborough Volcano,Queensland,NaN,—,—,21°00′,149°00′﻿,33.2 million years ago,NaN,NaN
14,Sloping Hummock,Queensland,NaN,90,—,24°50′33″,152°25′35″﻿,—,NaN,NaN
15,The Crater (Mount Hypipamee),Queensland,NaN,1000,—,17°12′,145°12′﻿,—,NaN,NaN
16,Kinrara Volcano,Queensland,NaN,—,—,18°18′,144°36′﻿,"20,000 years ago",NaN,NaN
17,Main Range Volcano,Queensland,NaN,—,—,27°54′,152°24′﻿,23–27 million years ago,NaN,NaN
18,Mount Le Brun,Queensland,NaN,—,—,25°35′52″,151°54′32″﻿,"Over 600,000 years ago",NaN,NaN
19,Mount McBride,Queensland,NaN,911,—,18°18′,144°36′﻿,1.7 million years ago,NaN,NaN
20,McLean Volcano,Queensland,NaN,—,—,15°48′,144°48′﻿,Less than 1 million years ago,NaN,NaN

In [8]:
import re

In [13]:
lat_coords = list(data["Coordinates"])
lat_deg = []
lat_min = []
lat_sec = []
#for x in data["Coordinates"]:
test = lat_coords[0]
# re.split(,lat_coords[0])
#re.split('[^a-zA-Z]',lat_coords[0])
#re.split('[^a-zA-Z]', string_to_split)
print(test)

17°30′

In [14]:
re.split('\D',test)

['17', '30', '']

In [18]:
test2 = lat_coords[13]
print(test2)

24°50′33″

In [19]:
re.split('\D',test2)

['24', '50', '33', '']

In [ ]:
17°30′

In [63]:
"""new_list= []
for i in lat_coords:
    try:
        new_list.append(re.split('\D',i))
    except TypeError:
        new_list.append(i)               
# print(new_list)"""

def DMS_to_Dec(DMS_list):
    temp_list = []
    #Extract the numbers from DMS and store them in a temp list
    for i in DMS_list:
        try:
            temp_list.append(re.split('\D',i))
        except TypeError:
            temp_list.append(i)  
    print(temp_list)       
    """deg_list = []
    
    for eachDMS in temp_list:
        t = 0
        for float(eachDMS) in zip(eachDMS,range(len(temp))):
            t += float(eachDMS[0])/(60**eachDMS[1])
        deg_list.append(t)       
    return(deg_list)"""

In [64]:
DMS_list = [["17°30′"],["24°50′33″"]]
DMS_to_Dec(DMS_list)

[['17°30′'], ['24°50′33″']]

In [47]:
temp = ['52', '59', '32', '']

In [48]:
t = 0
for eachValue in zip(temp,range(len(temp))):
    t += float(eachValue[0])/(60**eachValue[1])
    print(t)

52.0
52.983333333333334
52.992222222222225

ValueError: could not convert string to float:

4